body{
    background-image: url("./img/photo-1-1559368423910633115149.webp");
    /* height: 100%; */
    z-index: 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background-size: cover;
}

.bgr{
    width: 50%;
    margin: auto;
    height: 117vh;
    /* margin-top: 20px; */
    background-color: white;
    z-index: 2;
    /* position: relative; */
    background: rgba(40, 22, 2, 0.6);
    /* box-shadow: inset 100px 100px 100px 100px rgb(249, 249, 249); */
    border-radius: 8px;
}
.title{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding-top: 20px;
}
.select{
    height: 50px;
    width: 20%;
    margin-left: 30%;
    display: inline;
}
#size{
    font-size: 16px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    
}
#btstart{
    height: 40px;
    background-color: rgb(99, 55, 11);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
}
#btstart:hover{
    border: 1px solid rgb(204, 79, 79);
    font-size: 20px;
    color: rgb(172, 139, 85);
    background-color: white;
}
#welcome{
    margin: auto;
    color: white;
    width: 80%;
    height: 360px;
    /* padding-bottom: 20px; */
    padding-top: 40px;
}
#TitleWelcome{
    text-align: center;
    font-size: 25px;
    width: 100%;
    
}
.container-table{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
}
#game{
    height: 350px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    margin: auto;
}
.box{
    width: 30px;
    /* height: 30px; */
    font-size: 20px;
    color: rgb(245, 219, 178);
    background-color: rgb(172, 139, 85);
}
.box:hover{
    background-color: antiquewhite;
    border: 2px solid rgb(129, 104, 21);
}

#btrestart{
    width: 20%;
    height: 40px;
    color: white;
    background-color: rgb(99, 55, 11);
    border-radius: 5px;
    font-size: 16px;
    /* margin-top: 50px; */
    margin-left: 40%;
    /* margin-bottom: 20px; */
    /* top: 100px; */
}
#btrestart:hover{
    color: rgb(172, 139, 85);
    background-color: white;
    font-size: 20px;
}
#result{
    text-align: center;
    font-size: 30px;
    color: rgb(225, 117, 44);
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
    /* background-color: black; */
}

#turn{
    color: white;
    font-size: 25px;
    height: 30px;
    background-color: rgb(99, 55, 11);
    width: 30%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

